In [35]:
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as np
from tabulate import tabulate
import urllib.request
import datetime
import requests

In [48]:
res = requests.get('https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares') 
soup = BeautifulSoup(res.content,'html.parser')
data = []
table = soup.find('tbody')
for tr in table.findAll('tr'):
    td = tr.findAll('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    data.append(row)    

new_table = pd.DataFrame(data,columns=['rank', 'x_class', 'date', 'region', 'start_time', 'max_time', 'end_time', 'movie'])
new_table = new_table.set_index('rank')
new_table = new_table.drop(columns = ['movie'])
temp = new_table['region']
#print (temp)
new_table = new_table.drop(columns = ['region'])
new_table['region'] = temp

for index, row in new_table.iterrows():
    row['start_time'] = row['date'] + " "+ row['start_time'] + ":00"
    start_time = row["start_time"]
    datetime.datetime.strptime(start_time, '%Y/%m/%d %H:%M:%S')
    row['start_time'] = start_time
    
    row['max_time'] = row['date'] + " "+ row['max_time'] + ":00"
    max_time = row["max_time"]
    datetime.datetime.strptime(max_time, '%Y/%m/%d %H:%M:%S') 
    row['max_time'] = max_time
    
    row['end_time'] = row['date'] + " "+ row['end_time'] + ":00"
    end_time = row["end_time"]
    datetime.datetime.strptime(end_time, '%Y/%m/%d %H:%M:%S') 
    row['end_time'] = end_time

new_table = new_table.drop(columns = ['date']) 
new_table.rename(columns={'start_time':'start_datetime',
                          'max_time':'max_datetime',
                          'end_time':'end_datetime'}, 
                 inplace=True)

print(new_table)

     x_class       start_datetime         max_datetime         end_datetime  \
rank
1      X28.0  2003/11/04 19:29:00  2003/11/04 19:53:00  2003/11/04 20:06:00
2      X20.0  2001/04/02 21:32:00  2001/04/02 21:51:00  2001/04/02 22:03:00
3      X17.2  2003/10/28 09:51:00  2003/10/28 11:10:00  2003/10/28 11:24:00
4      X17.0  2005/09/07 17:17:00  2005/09/07 17:40:00  2005/09/07 18:03:00
5      X14.4  2001/04/15 13:19:00  2001/04/15 13:50:00  2001/04/15 13:55:00
6      X10.0  2003/10/29 20:37:00  2003/10/29 20:49:00  2003/10/29 21:01:00
7       X9.4  1997/11/06 11:49:00  1997/11/06 11:55:00  1997/11/06 12:01:00
8       X9.3  2017/09/06 11:53:00  2017/09/06 12:02:00  2017/09/06 12:10:00
9       X9.0  2006/12/05 10:18:00  2006/12/05 10:35:00  2006/12/05 10:45:00
10      X8.3  2003/11/02 17:03:00  2003/11/02 17:25:00  2003/11/02 17:39:00
11      X8.2  2017/09/10 15:35:00  2017/09/10 16:06:00  2017/09/10 16:31:00
12      X7.1  2005/01/20 06:36:00  2005/01/20 07:01:00  2005/01/20 07:26:00
13      X6.9  2011/08/09 07:48:00  2011/08/09 08:05:00  2011/08/09 08:08:00
14      X6.5  2006/12/06 18:29:00  2006/12/06 18:47:00  2006/12/06 19:00:00
15      X6.2  2005/09/09 19:13:00  2005/09/09 20:04:00  2005/09/09 20:36:00
16      X6.2  2001/12/13 14:20:00  2001/12/13 14:30:00  2001/12/13 14:35:00
17      X5.7  2000/07/14 10:03:00  2000/07/14 10:24:00  2000/07/14 10:43:00
18      X5.6  2001/04/06 19:10:00  2001/04/06 19:21:00  2001/04/06 19:31:00
19      X5.4  2012/03/07 00:02:00  2012/03/07 00:24:00  2012/03/07 00:40:00
20      X5.4  2003/10/23 08:19:00  2003/10/23 08:35:00  2003/10/23 08:49:00
21      X5.4  2005/09/08 20:52:00  2005/09/08 21:06:00  2005/09/08 21:17:00
22      X5.3  2001/08/25 16:23:00  2001/08/25 16:45:00  2001/08/25 17:04:00
23      X4.9  1998/08/18 22:10:00  1998/08/18 22:19:00  1998/08/18 22:28:00
24      X4.9  2014/02/25 00:39:00  2014/02/25 00:49:00  2014/02/25 01:03:00
25      X4.8  2002/07/23 00:18:00  2002/07/23 00:35:00  2002/07/23 00:47:00
26      X4.0  2000/11/26 16:34:00  2000/11/26 16:48:00  2000/11/26 16:56:00
27      X3.9  1998/08/19 21:35:00  1998/08/19 21:45:00  1998/08/19 21:50:00
28      X3.9  2003/11/03 09:43:00  2003/11/03 09:55:00  2003/11/03 10:19:00
29      X3.8  2005/01/17 06:59:00  2005/01/17 09:52:00  2005/01/17 10:07:00
30      X3.7  1998/11/22 06:30:00  1998/11/22 06:42:00  1998/11/22 06:49:00
31      X3.6  2003/05/28 00:17:00  2003/05/28 00:27:00  2003/05/28 00:39:00
32      X3.6  2004/07/16 13:49:00  2004/07/16 13:55:00  2004/07/16 14:01:00
33      X3.6  2005/09/09 09:42:00  2005/09/09 09:59:00  2005/09/09 10:08:00
34      X3.4  2006/12/13 02:14:00  2006/12/13 02:40:00  2006/12/13 02:57:00
35      X3.4  2001/12/28 20:02:00  2001/12/28 20:45:00  2001/12/28 21:32:00
36      X3.3  1998/11/28 04:54:00  1998/11/28 05:52:00  1998/11/28 06:13:00
37      X3.3  2002/07/20 21:04:00  2002/07/20 21:30:00  2002/07/20 21:54:00
38      X3.3  2013/11/05 22:07:00  2013/11/05 22:12:00  2013/11/05 22:15:00
39      X3.2  2013/05/14 00:00:00  2013/05/14 01:11:00  2013/05/14 01:20:00
40      X3.1  2014/10/24 21:07:00  2014/10/24 21:41:00  2014/10/24 22:13:00
41      X3.1  2002/08/24 00:49:00  2002/08/24 01:12:00  2002/08/24 01:31:00
42      X3.0  2002/07/15 19:59:00  2002/07/15 20:08:00  2002/07/15 20:14:00
43      X2.8  1998/08/18 08:14:00  1998/08/18 08:24:00  1998/08/18 08:32:00
44      X2.8  2001/12/11 07:58:00  2001/12/11 08:08:00  2001/12/11 08:14:00
45      X2.8  2013/05/13 15:48:00  2013/05/13 16:05:00  2013/05/13 16:16:00
46      X2.7  2015/05/05 22:05:00  2015/05/05 22:11:00  2015/05/05 22:15:00
47      X2.7  1998/05/06 07:58:00  1998/05/06 08:09:00  1998/05/06 08:20:00
48      X2.7  2003/11/03 01:09:00  2003/11/03 01:30:00  2003/11/03 01:45:00
49      X2.6  2005/01/15 22:25:00  2005/01/15 23:02:00  2005/01/15 23:31:00
50      X2.6  1997/11/27 12:59:00  1997/11/27 13:17:00  1997/11/27 13:20:00

     region
rank
1      0486
2      9393
3      0486
4      0808
5      9415
6      0486
7      8100
8      2673
9      0930
10     0486
11     2673
12     0720
13     1263
14     0930
15     0808
16     9733
17     9077
18     9415
19     1429
20     0486
21     0808
22     9591
23     8307
24     1990
25     0039
26     9236
27     8307
28     0488
29     0720
30     8384
31     0365
32     0649
33     0808
34     0930
35     9767
36     8395
37     0039
38     1890
39     1748
40     2192
41     0069
42     0030
43     8307
44     9733
45     1748
46     2339
47     8210
48     0488
49     0720
50     8113